{{#with stream}}
 <tr class="stream_row">
   <td>
       {{#if invite_only}}<i class="icon-vector-lock "></i>{{/if}}
       <span class="stream_name">{{name}}</span>
   </td>
   <td>
       {{#if is_default}}
       <button class="btn remove-default-stream btn-danger">
         Remove from default
       </button>
       {{else}}
       <button class="btn add-default-stream btn-success">
         Make default stream
       </button>
       {{/if}}
   </td>
 </tr>
 {{/with}}